* {
	box-sizing: border-box;
}

.App {
	text-align: center;
}
.Header {
margin-bottom: 3%;
}
.Header__title {
 margin: 3% 0;
}

.Header__search {
	width: 60%;
}
.Main {
	padding: 5vh 5%;
	background-color: lightgrey;
}

.Articles {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.Article {
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10%;
	border: 1px black solid;

}
.Article__name--div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0;
	border-bottom: 1px black solid;
}
.Article__name {
	margin: 0;
}

.Article__img--div {
	margin-top: 5%;
	height: 220px;
	width: 60%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

}
.Article__img {
	width: 0;
}

.Article__spans--div{
	width: 100%;
	padding: 5% 20%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.icon {
	margin: 2% 2%;
	width: 30px;
	height: 30px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.icon--Gryffindor {
	background-image: url(../Img/Gryffindor_Pottermore.png);
}
.icon--Slytherin {
	background-image: url(../Img/Slytherin_Pottermore.png);
}
.icon--Hufflepuff {
	background-image: url(../Img/Hufflepuff_Pottermore.png);
}
.icon--Ravenclaw {
	background-image: url(../Img/Ravenclaw_Pottermore.png);
}

.icon--dead {
	background-image: url(../Img/skull.svg);
}

@media (max-width: 1200px) {
	.Articles	{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.Articles	{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width:450px){
	.Articles {
		grid-template-columns: 1fr;
	}
}
