@font-face {
	font-family: 'Harry';
	src: URL('../Fonts/Harrp.ttf') format('ttf');
}

* {
	box-sizing: border-box;
}

.App {
	text-align: center;
	font-size: 16px;
}
.Header {
	padding: 3% 0;
	background-color: #AE364F;
	color: #BDB7B7;
	/* border-bottom: 1px #5D5A62 solid; */
}
.Header__title {
	font-family: 'Harry';
	font-size: 3em;
	margin: 0;
	text-shadow: 2px 2px #5D5A61;
}


.Header__search {
	margin-top: 3%;
	width: 60%;
}
.Main {
	padding: 10vh 5%;
	background-color: #EEEEEE;
}

.Articles {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}
.Article {
	grid-column: span 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	border: 1px black solid;
	background-color: #5D5A62;
}

.Article__name--div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px black solid;
	overflow: hidden;
	background-color: black;
	color: white;
	font-size: 1em;
}
.Article__name--div--Gryffindor {
	background-color: #C71522;
	color: #FDBF2D;
}
.Article__name--div--Slytherin {
	background-color: #2EA04B;
	color: #CDCDCD;
}
.Article__name--div--Hufflepuff {
	background-color: #FED54C;
	color: #272727;
}
.Article__name--div--Ravenclaw {
	background-color: #BE9267;
	color: #095780;
}
.Article__name {
	margin: 0;
}

.Article__img--div {
	margin: 5% 0;
	height: 220px;
	width: 60%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	border: 1px black solid;
}
.Article__img {
	width: 0;
}

.Article__spans--div{
	width: 100%;
	padding: 5% 20%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-top: 1px black solid;
	background-color: #BDB7B7;
}

.icon {
	margin: 2% 2%;
	width: 30px;
	height: 30px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.icon--Gryffindor {
	background-image: url(../Img/Gryffindor_Pottermore.png);
}
.icon--Slytherin {
	background-image: url(../Img/Slytherin_Pottermore.png);
}
.icon--Hufflepuff {
	background-image: url(../Img/Hufflepuff_Pottermore.png);
}
.icon--Ravenclaw {
	background-image: url(../Img/Ravenclaw_Pottermore.png);
}

.icon--dead {
	background-image: url(../Img/skull.svg);
}

.Footer {
	color: white;
	border-top: 20px #000000 solid;
	background-color: #14405E;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .7em;
	padding: 0 10%;
}
.Footer__link--gala {
	text-decoration: none;
	color: white;
}
.Footer__link--adalab-color{
	background-color: white;
	width: 80px;
	height: 30px;
}
.Footer__link--adalab{
	width: 80px;
	height: 30px;
	background-image: url(../Img/logoAdalab.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
@media (max-width: 1200px) {
	.Articles	{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.Articles	{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width:450px){
	.Articles {
		grid-template-columns: 1fr;
	}
}
